<div class="task">
  <h1>ამოირჩიე ჟესტი</h1>
  <div class="list-column">
    <div class="cell">
      <p>{{ word.value }}</p>
    </div>
    <div class="list-row">
      @for (gif of gifs; let idx = $index; track idx) {
      <div class="hover">
        <app-card
          [src]="gif.value"
          [state]="idx === answeredsIdx ? state : ''"
          [disabled]="answeredsIdx != undefined"
          (clicked)="onSelect($event, idx)"
        ></app-card>
      </div>
      }
    </div>
  </div>
</div>
