<div class="task">
  <h1>ჩაწერე რას ნიშნავს</h1>
  <div class="list-column">
    <div class="cell">
      <app-card [src]="question.value"></app-card>
    </div>

    <div class="padding" [class]="state">
      <mat-form-field class="example-form-field">
        <mat-label>ჩაწერეთ პასუხი</mat-label>
        <input
          matInput
          type="text"
          [disabled]="this.state"
          [(ngModel)]="value"
        />
        @if (value) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="onDone()">
          <mat-icon>done</mat-icon>
        </button>
        }
      </mat-form-field>
    </div>
  </div>
</div>
