.app {
  padding: 40px;
}
.navigation {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  margin: 50px 50px;
}

.test {
  min-height: 450px;
}

.top-bar {
  display: flex;
  gap: 50px;
}
