@if (showSpinner$ | async) {
<div class="app">
  <div class="top-bar">
    <mat-progress-bar
      class="box-shadow"
      mode="determinate"
      [value]="progess$ | async"
    ></mat-progress-bar>
    <p>{{ lives$ | async }}/5</p>
  </div>

  <div class="test">
    <router-outlet></router-outlet>
  </div>
  <div class="navigation">
    <div class="previous">
      <button mat-raised-button (click)="onPrev()">უკან</button>
    </div>
    <div class="next">
      <button mat-raised-button (click)="onNext()" color="primary">
        შემდეგი
      </button>
    </div>
  </div>
</div>
} @else{
<mat-spinner></mat-spinner>
}
